In [1]:
import pandas as pd

In [2]:
def acquire():
    df = pd.read_csv("superheroes.csv", index_col = 0, encoding = "latin-1")
    return df

superheroes = acquire()
superheroes.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [3]:
def rename_columns(df, old_column, new_column):
    return df.rename(columns = {old_column: new_column}, inplace = True)

superherores = rename_columns(superheroes, "name", "Name")
superheroes.head()

,Name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [6]:
def delete_column_nulls(df, column):
    for data in list(df.column):
        if data < 0:
            data.replace(data, "-")
    return 
superheroes = delete_column_nulls(superheroes, "Height")
superheroes.head()

AttributeError: 'numpy.int64' object has no attribute 'column'