In [1]:
import pandas as pd

In [2]:
def get_csv():
    df = pd.read_csv("superheroes.csv", index_col = 0, encoding = "latin-1", na_values=["-"])
    return df

superheroes = get_csv()

In [3]:
def rename_column(df, old_column, new_column):
    return df.rename(columns = {old_column: new_column}, inplace = True)

superherores = rename_column(superheroes, "name", "Name")

superheroes.head()

,Name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,NaN,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,NaN,bad,-99.0

In [4]:
def rename_column_values(df, column, old_value, new_value):
    return df[column].replace(to_replace = {old_value: new_value}, inplace=True)

rename_column_values(superheroes, "Gender", "Male", "M")
rename_column_values(superheroes, "Gender", "Female", "F")

superheroes.head()

,Name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,M,yellow,Human,No Hair,203.0,Marvel Comics,NaN,good,441.0
1,Abe Sapien,M,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,M,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,M,green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,bad,441.0
4,Abraxas,M,blue,Cosmic Entity,Black,-99.0,Marvel Comics,NaN,bad,-99.0

In [5]:
def capitalize_column_values(df, column):
    df[column] = df[column].str.capitalize()

capitalize_column_values(superheroes, "Alignment")
capitalize_column_values(superheroes, "Eye color")
capitalize_column_values(superheroes, "Skin color")

superheroes.head()

,Name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,M,Yellow,Human,No Hair,203.0,Marvel Comics,NaN,Good,441.0
1,Abe Sapien,M,Blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,Blue,Good,65.0
2,Abin Sur,M,Blue,Ungaran,No Hair,185.0,DC Comics,Red,Good,90.0
3,Abomination,M,Green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,Bad,441.0
4,Abraxas,M,Blue,Cosmic Entity,Black,-99.0,Marvel Comics,NaN,Bad,-99.0

In [6]:
def pounds_to_kilograms(df, column):
    for value in df[column]:
        if value > 0:
            df[column].replace(to_replace = {value: value/2.205}, inplace = True)
        else:
            df[column].replace(to_replace = {value: None}, inplace = True)
        
pounds_to_kilograms(superheroes, "Weight")

superheroes.head()

,Name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,M,Yellow,Human,No Hair,203.0,Marvel Comics,NaN,Good,90.702948
1,Abe Sapien,M,Blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,Blue,Good,13.368915
2,Abin Sur,M,Blue,Ungaran,No Hair,185.0,DC Comics,Red,Good,18.510806
3,Abomination,M,Green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,Bad,90.702948
4,Abraxas,M,Blue,Cosmic Entity,Black,-99.0,Marvel Comics,NaN,Bad,NaN

In [7]:
def feet_to_meters(df, column):
    for value in df[column]:
        if value > 0:
            df[column].replace(to_replace = {value: value/3.281}, inplace = True)
        else:
            df[column].replace(to_replace = {value: None}, inplace = True)
        
feet_to_meters(superheroes, "Height")

superheroes.head()

,Name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,M,Yellow,Human,No Hair,5.747478,Marvel Comics,NaN,Good,90.702948
1,Abe Sapien,M,Blue,Icthyo Sapien,No Hair,17.742749,Dark Horse Comics,Blue,Good,13.368915
2,Abin Sur,M,Blue,Ungaran,No Hair,17.185385,DC Comics,Red,Good,18.510806
3,Abomination,M,Green,Human / Radiation,No Hair,5.747478,Marvel Comics,NaN,Bad,90.702948
4,Abraxas,M,Blue,Cosmic Entity,Black,NaN,Marvel Comics,NaN,Bad,NaN

In [8]:
def change_columns_order(df, list_new_columns_order):
    return df[list_new_columns_order]

superheroes = change_columns_order(superheroes, ["Name", "Race", "Gender", "Height", "Weight", "Skin color", "Hair color", "Eye color", "Alignment", "Publisher"])

superheroes.head()

,Name,Race,Gender,Height,Weight,Skin color,Hair color,Eye color,Alignment,Publisher
0,A-Bomb,Human,M,5.747478,90.702948,NaN,No Hair,Yellow,Good,Marvel Comics
1,Abe Sapien,Icthyo Sapien,M,17.742749,13.368915,Blue,No Hair,Blue,Good,Dark Horse Comics
2,Abin Sur,Ungaran,M,17.185385,18.510806,Red,No Hair,Blue,Good,DC Comics
3,Abomination,Human / Radiation,M,5.747478,90.702948,NaN,No Hair,Green,Bad,Marvel Comics
4,Abraxas,Cosmic Entity,M,NaN,NaN,NaN,Black,Blue,Bad,Marvel Comics

In [9]:
def total_nulls(df):
    return df.isnull().sum()
    
total_nulls(superheroes)

Name            0
Race          304
Gender         29
Height        217
Weight        239
Skin color    662
Hair color    172
Eye color     172
Alignment       7
Publisher      15
dtype: int64

In [10]:
def delete_unuseful_columns(df): #Detele columns with >50% null values
    for column in df:
        if df[column].isnull().sum() > len(df.index)*0.50:
            del df[column]

delete_unuseful_columns(superheroes)
    
superheroes.head()

,Name,Race,Gender,Height,Weight,Hair color,Eye color,Alignment,Publisher
0,A-Bomb,Human,M,5.747478,90.702948,No Hair,Yellow,Good,Marvel Comics
1,Abe Sapien,Icthyo Sapien,M,17.742749,13.368915,No Hair,Blue,Good,Dark Horse Comics
2,Abin Sur,Ungaran,M,17.185385,18.510806,No Hair,Blue,Good,DC Comics
3,Abomination,Human / Radiation,M,5.747478,90.702948,No Hair,Green,Bad,Marvel Comics
4,Abraxas,Cosmic Entity,M,NaN,NaN,Black,Blue,Bad,Marvel Comics

In [11]:
def rename_nulls(df): #Replace "NaN" with "-"
    df.fillna("-", inplace=True)
    
rename_nulls(superheroes)

superheroes.head()

,Name,Race,Gender,Height,Weight,Hair color,Eye color,Alignment,Publisher
0,A-Bomb,Human,M,5.74748,90.7029,No Hair,Yellow,Good,Marvel Comics
1,Abe Sapien,Icthyo Sapien,M,17.7427,13.3689,No Hair,Blue,Good,Dark Horse Comics
2,Abin Sur,Ungaran,M,17.1854,18.5108,No Hair,Blue,Good,DC Comics
3,Abomination,Human / Radiation,M,5.74748,90.7029,No Hair,Green,Bad,Marvel Comics
4,Abraxas,Cosmic Entity,M,-,-,Black,Blue,Bad,Marvel Comics